<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        <link href="/css/form.css" rel="stylesheet">
    </head>
    <body>
        <div>
                Hello <%= user.first_name %>
            
        </div>
        <form action="/users/destroy-session/">
            <input type="submit" value="Sign-Out">
        </form>
    </body>
</html>

