<link rel="stylesheet" href="/css/index.css">

<section id="head">
    <div id="comp-name">
        TheEvent
    </div>

    <div class="buttons-div">

        

        <form action="/users/signUpUser" method="GET">
            <button id="newuser">
                New User?
            </button>
        </form>
    
        <form action="/users/signInUser" method="GET">
            <button id="existingUser">
                Existing User!
            </button>
        </form>
		
		
        <div style="margin-top: 2%;padding-left: 4%;">
            <a href="/users/auth/google">
                <i class="fab fa-google" style="color: white;"> Register using google</i>
            </a>
        </div>
        

    </div>
</section>

<section id="tagline">
    <div id="textArea">
        <div id="text1">Let's be <span id="text2">INNOVATIVE!</span></div>
        <div id="text3">TheEvent <span id="text4">for change.</span></div>
    </div>
</section>

<!-- <section id="eventHead">
    <p id="heading">Our up coming Events</p>
</section> -->
