

<div class="buttons-div">
    <form action="/users/signUpUser" method="GET">
        <button >
            New User?
        </button>
    </form>

    <form action="/users/signInUser" method="GET">
        <button>
            Existing User!
        </button>
    </form>
    
</div>