<html>
    <head>

    </head>
    <body>

        <header>
            <%- include('_header'); %>
        </header>
        
    
        <%- body %>

        <footer>
          <%- include('_footer'); %>
        </footer>
        
    </body>
</html>