<link rel="stylesheet" href="/css/signed.css">
<link rel="stylesheet" href="/css/form.css">

<section class="left-side">
    <img src="https://images.pexels.com/photos/3651820/pexels-photo-3651820.jpeg?cs=srgb&dl=pexels-luca-nardone-3651820.jpg&fm=jpg">
    <p class="about">Sign-in and be a part of our upcoming events <span style="text-decoration: underline;">OR</span> come up with a new innovative idea and organize your own virtual event.</p>
    <p class="comp-name">TheEvent.com</p>
</section>

<section class="right-side">

    <div class="wel-div">
        <p class="welcome">
            Welcome Guest,
        </p>
        <p class="welcome-line">
            Sign in for TheEvent
        </p>
    </div>

    <div class="form-div">
        <form action="/users/create-session" method="POST">
    
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
    
            <input type="submit" value="Sign-In">
        </form>
    </div>
</section>
